@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import "variables";
@import "header";
@import "footer";

* {
    margin: 0;
    padding: 0;
}

/* 
    DEFINICIONDE DE LAS h1/h2/h3
*/

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    padding: 2px;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;

    /* background-color: #2C73D2; */
    padding: 5px;
    border: 1px;
}

h3 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding: 3px;

    /* background-color: #0089BA; */
    /* font-size: 2rem; */
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

/* 
    DEFINICION DE LA TABLA Y SUS COMPONENTES
*/

table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 98%;
    margin-left: 1%;
}

td,
th {
    border: 1px solid #918e8e;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.listaClientes {
    list-style-type: none;
    font-weight: lighter;
    border: 0px;

    /* color: red; */
    display: grid;
}

/* 
    CABECERA DE LAS SECCIONES
 */

.imagenFondo,
.imagenFondoProductos {
    background-image: url(../img/imagenFondo.jpg);
    background-size: cover;
    background-position-y: center;
    height: calc(100vh-80px);
}

.imagenFondoContacto,
.imagenFondoTrabajos {
    background-image: url(../img/imagenFondo.jpg);
    background-size: cover;
    background-position-y: center;
    height: calc(100vh-80px);

    /* width: calc(100vw); */
}

.seccionesCabecera {
    display: flex;
    flex-flow: row wrap;

    /* POSICION DEL MENSAJE DE LA SECCION */
    align-content: flex-end;
    height: $height-cabecera;

    h1 {
        font-family: $font-family-cabecera;
        font-size: $font-size-cabecera;
        text-align: left;
        width: 40%;
        margin: 1%;

        /* height: 500px; */
        color: $color-text-cabecera;

        /* border: #3fbbc0 solid; */
        /* padding-top: 100px; */
        /* padding: 15px; */
    }
}

/* 
      PAGINA INICIO
   */

.cajaFotosInicio {
    display: flex;
    background: #E4E4E0;
    margin: auto;
    flex-flow: row wrap;

    /* justify-content: flex-start; */
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    padding: 15px;
    max-width: 1200;

    /* border: black solid; */
}

.hijoFotosInicio {
    /* background-color: red; */
    /* height: 300px; */
    width: 400px;
    border-radius: 4px;

    /* border: black solid; */
}

.h3FotosInicio {
    width: 800px;
    border-radius: 4px;
    font-family: $font-family-inicio;
    font-size: $font-size-inicio;
    padding: 2px;

}

.hijoFotosInicio {
    p {
        font-family: $font-family-inicio;
        padding: 3px;
    }

    img {
        width: 95%;
        padding: 1px;
        margin-left: 6px;
        margin-top: 5px;
    }
}

/* PAGINA PRODUCTOS */

.h3Productos {
    background-color: #E4E4E0;
    max-width: 1200;

    /* width: 99%; */
    border: 1px E4E4E0 solid;
    border-radius: 4px;
    padding: 10px;
    margin-left: 1%;
    margin-top: 1%;
    width: 96%;

    /* margin-right: 10px; */
}

.cajaFotosProductos {
    display: flex;
    background: #E4E4E0;
    margin-top: 1%;
    margin-left: 1%;

    /* margin: auto; */
    flex-flow: row wrap;

    /* justify-content: flex-start; */
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
    width: 96%;
    max-width: 1200;

    img {
        width: 350px;
        height: 350px;
        padding: 1px;
        margin-left: 6px;
        margin-top: 5px;
    }
}

/* 
      SERVICIOS
  */

.servicios {
    background-color: #E4E4E0;
}

/* 
      PAGINA CONTACTO
  */

.cajaAnimada {
    border-top: 2px solid #3fbbc0;
    border-radius: 4px;
    height: 250px;
    width: 500px;
    margin: 30px;
    position: absolute;

    /* Centramos de forma simple */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 10px 10px 10px;
    opacity: 90%;
    max-width: 90%;
}

.botonAsociar {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;
    color: #fff;

    /* background-color: #3fbbc0; */
    /* Cambios -- Clase 8 */
    background-image: linear-gradient(to right, #3fbbc0, #0083B0);

    &:hover {
        transform: translateY(-3px);
        transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
    }

    &:active {
        transform: translateY(3px);
    }
}

#ubicacionContacto {
    width: 100%;
    background-image: linear-gradient(to right, #2c3e50, #3498db);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
        margin: 20px 40px;
        font-size: 2.5rem;
    }

    p {
        margin: 40px;
    }
}

.cajaContacto {
    display: flex;
    background: #E4E4E0;
    margin: auto;
    flex-flow: row wrap;

    /* justify-content: flex-start; */
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    padding: 15px;
    max-width: 1200;
}

.mapaGoogle iframe {
    margin-left: 5px;
}

.contactoForm {
    padding: 10px;
    width: 300px;
    margin-top: 50px;

    /* margin-left: 20px; */
}

.boton {
    color: black;
    background-color: #898B87;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.campo {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.campoAlto:focus {
    height: 30px;
}

/* 
      QUINES SOMOS
   */

.quienesSomos {
    /* display: flex; */
    background: #E4E4E0;

    /* background-image: linear-gradient(to right, #eacda3, #d6ae7b); */

    img {
        margin-left: 2%;
    }
}

p,
.youtubeQuienesSomos iframe {
    margin-left: 2%;
}

/* .youtubeQuienesSomos {
      background:#E4E4E0;
  } */

#idCocinas {
    grid-area: idCocinas;
}

#idLiving {
    grid-area: idLiving;
}

#idBanios {
    grid-area: idBanios;
}

#idDormitorios {
    grid-area: idDormitorios;
}

footer {
    grid-area: footer;
}

/* 
      MEDIA QUERIES
  */
@media screen and (max-width: 900px) {

    .seccionesCabecera h1 {
        width: 90%;
        height: 90%;
        font-size: 3rem;
    }

    .cajaFotosInicio {
        flex-flow: column wrap;
        padding: 1%;
        align-items: stretch;
    }

    .h3FotosInicio {
        width: auto;
    }

    .h3Productos {
        width: 96%;
    }

    .h3FotosInicio h3 {
        font-size: 1rem;
    }

    .quienesSomos img {
        width: 96%;
    }

    .mapaGoogle iframe,
    .youtubeQuienesSomos iframe {
        padding: 0;
        width: 95%;
    }

    #idMemo {
        width: 80%;
    }
}

/* .carousel-item img {
      width: 50%;
  } */